
@keyframes ripple {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to{
    transform: scale(1);
    opacity: 0;
  }
}
  @keyframes spin-right {
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }


  .spinner-container {
    position: relative;
    right: 143px;
    bottom: 22px;
    z-index: 1;
    
  }
  
  .circle {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 8px solid  wheat;
    position: absolute;
    z-index: 1;

  }
  
  .animate {
    animation-name: ripple;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;
  }
  #c1 {
    animation-delay: 0s;
  }
  #c2 {
    animation-delay: 1s;
  }
  #c3 {
    animation-delay: 2s;
  }