
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-bluedark-color: #1487FD;
    --primary-bluelight-color: #42A0FF;
    --primary-yellow-color:#FFBB00;
    --primary-lightgrey-color:#8A8A8A;
    --primary-darkgrey-color:#333333;
    --primary-black-color:#111010;
}

  
html, body {
    font-family: 'Roboto', serif;
    line-height: 1.5;
  }
   
  
  html, body {
    font-family: 'Roboto slab' serif;
    line-height: 1.5;
    scrollbar-width: none;
    /* overflow-x: hidden; */
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
.container {
    width: 100%;
    margin: auto;
  }
 
  .btn {
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
  }






/* NAVBAR */
   

  
  .spinner-container {
    position: relative;
    right: 143px;
    bottom: 22px;
    z-index: -1;
    
  }
  
  .circle {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 8px solid  wheat;
    position: absolute;
    z-index: 1;

  }
  
  .animate {
    animation-name: ripple;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;
  }
  #c1 {
    animation-delay: 0s;
  }
  #c2 {
    animation-delay: 1s;
  }
  #c3 {
    animation-delay: 2s;
  }
  
  
  
  
  
  
  
  
  #contactus {
    width: 100%;
   display: flex;
   flex-direction:column;
   justify-content: center;
   align-items: center;
   text-align: center;
  }
  
  #contactus .contact-header{
     width:50%; 
    
    }
  .form{
    width:60%;
    display: flex;
    flex-direction: column;
  }
   
  .form .input-box {
     width:100%;
     display: flex;
     flex-direction: row; 
     margin: 0.6rem auto;  
     line-height: 2rem;
    
    }
    .input-box input{
      width :50%;
      padding: 1rem auto;
      
      
    }
    .input-box #username{
     margin-right: 1rem;
    }
    .input-box input ,  textarea {
     background-color: #FBFBFB;
     border: none;
     overflow: auto;
     outline: none;
     }
    .form button{
      width:20%;
      margin: 0.6rem auto;  
      background-color: var(--primary-bluedark-color);
      color: whitesmoke;
      border: none;
      line-height: 2rem;
      border-radius: 5px;
      
    }
    
 @media (min-width: 768px) {
   .container{
       width: 768px;
   }

   .navbar-toggler {
       display: none;
     }
     .collapse:not(.show) {
       
       display: block;
     }
    .container .navbar-nav {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 0 1rem;
          margin: 0 0.6rem;  
     }
     .header-card h1{
       text-align: left;
     }

      /*  <end of Nav css>
       */
     
 

     
     .header-card p{
       text-align: left;
     }
     
     .header-card div{
       text-align: left;
     }
        .header svg{
           display: block;
         }
         
 }
  
  @keyframes ripple {
    from {
      transform: scale(0);
      opacity: 1;
    }
    to{
      transform: scale(1);
      opacity: 0;
    }
  }
  /* ANIMATION_END - Fredrik */
 

    .navbar-toggler {
        display: none;
      }
      .collapse:not(.show) {
        
        display: block;
      }
      .navbar {
        width: 100%;
        height: 100%;
        position: relative;
        bottom: 0;
        left: 0;
      }
  /*    .container .navbar-nav {
           width: 100%;
           display: flex;
           flex-direction: row;
           justify-content: space-between;
           padding: 0 1rem;
           margin: 0 0.6rem;  
      }
      .navbar::after{
        content: '';
        position: absolute;
        bottom: 0;
        width:100%;
        height: 200%;
        background: var(--primary-bluedark-color) url('./img/Group\ 4634@2x.png') ;
        outline: transparent;
        opacity: 95%;
        background-repeat: no-repeat; 
        background-size: 100%;
        border-radius:12rem ;
        transform:rotate(-22deg);
       
       }
      .header-card h1{
        text-align: left;
      }
      
      .header-card p{
        text-align: left;
      }
      
      .header-card div{
        text-align: left;
      }
         .header svg{
            display: block;
          } */
          
  
  .btn-downloadnow{
    background-color: var(--primary-bluelight-color);
    color: white;
    border:1px solid white;
}

/* Features */ 
#features p {
  color: var(--primary-lightgrey-color);
}
#features h4, h1 {
  font-weight: 750;
}
.features-main {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.features-grid {
  display: inline-grid;
  grid-template-columns: auto auto;
  margin-top: 3rem;
  grid-gap: 30px 70px;
}
.features-top-sign {
  background-color: rgb(255, 187, 0, 0.2);
  padding: .5rem 1rem;
  border-radius: 7px;
}
.features-sign {
  background-color: rgb(255, 187, 0, 0.2);
  padding: 1rem 1rem;
  border-radius: 8px;
}
.features-text {
  color: var(--primary-yellow-color);
}
 
















  @media (min-width: 720px) {
    .container{
        width: 720px;
    }
    .header svg{
      display: block;
    }
    .swiper {
      width: 80vw;
  }
  
  @media (min-width: 905px) {
    .container {
      max-width: 960px;
    }
    .navbar-toggler {
        display: none;
      }
      .collapse:not(.show) {
        
        display: block;
      }
   
    
      a {
        padding: 0 .5rem;
      }
      .header svg{
        display: block;
      }
      .btn {
        width: auto;
      }
  }
 
  @media (min-width: 1200px) {

    .container {
      max-width: 1140px;
    }
  }

            .container {
            max-width: 1140px;
            }
             
          
        }

