
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-bluedark-color: #1487FD;
    --primary-bluelight-color: #42A0FF;
    --primary-yellow-color:#FFBB00;
    --primary-lightgrey-color:#8A8A8A;
    --primary-darkgrey-color:#333333;
    --primary-black-color:#111010;
}

  
html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
  }
  
.container {
    width: 100%;
    margin: auto;
  }
 
  .btn {
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    
  }



/* NAVBAR */


.navbar {
     padding: .5rem 1rem;
     background-color: var(--primary-bluelight-color);
     
  }
  .text-white{
    color: white;
  }
  .navbar .container, .navbar .header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
   .collapse:not(.show) {
    display: none;
  } 

  
  
  /* .navbar-brand {
    height: 3rem;
  } */
  .navbar-nav a{
      color: white;
  }
  .logo-dot{
      color: var(--primary-yellow-color);
  }
  .navbar-nav a:focus , 
  .navbar-nav a:hover{
    
   color: var(--primary-yellow-color) ;

  }
  .navbar-toggler {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.8rem;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  .btn-getTheApp{
      background-color: var(--primary-yellow-color);
      color: white;
  }
  .navbar .header{
      margin: 1rem 0.6rem;
      justify-content: center;
      align-items: center;

  }
  .fa-play-circle{
      background-color: wheat;
      color: var(--primary-yellow-color);
      border-radius: 50px;

  }
  .header .heard-card{
      color: white;
      width:40%;

  }
  .header svg{
    display: none;
  }
  .btn-downloadnow{
    background-color: var(--primary-bluelight-color);
    color: white;
    border:1px solid white;
}

/* ABOUT US */
.container-flex {
  width: 80%;
  margin: auto;
  margin-top: 4em;
  display: flex;
  
  /* justify-content: space-between; */
}
.ec-logo {
  /* flex: 25%; */
  padding-right: 2em;

}
.img-ec-logo {
  max-width:100%;
  height:auto;
  max-height:100%;
 }
 .iphone-container {
   
   height: auto;
   padding: 0rem;
}
 .iphone-container img {
  
  top: 0px;
  left: 0px;
  z-index: 0;
}
.iphone-container > img:first-child{
  z-index: 1;
  top: -20px;
  left: 140px;
}


.iphone-bg {
  /* position: absolute; */
  background-image: url("/img/bg.png");
  background-repeat: no-repeat;
  background-position: 0px 30px;
  background-size: auto;
  text-align: left;
  border: solid green;
  padding-left: 146px;
  padding-right: 146px;
  margin-left: -146px;
  overflow-x: none;
  
}

.iphone {
  
  z-index: 1;
}
.iphone img {
  width: 10em;
  padding-right: 200px;
}

  

.image1 {
  position: relative;
  top: 10;
  left: 0;
  
}
.image2 {
  position: absolute;
  top: 0px;
  left: 0px;
}


/* END ABOUT US   */
 
  @media (min-width: 720px) {
    .container{
        width: 720%;
    }
  }
  
  @media (min-width: 905px) {
    .container {
      max-width: 960px;
    }
    .navbar-toggler {
        display: none;
      }
      .collapse:not(.show) {
        
        display: block;
      }
      .navbar-nav {
        flex-direction: row;
         padding: 0.2rem 0.2rem;
         margin: 0 0.6rem;
      }
      a {
        padding: 0 .5rem;
      }
      .header svg{
        display: block;
      }
      .btn {
        width: auto;
      }
  }
 
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }

<<<<<<< HEAD
  
  
=======
 body{
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
.container
{
  width: 100%;
}
#features {
    background-color: #1487FD;
}
>>>>>>> c49f0f261896a78e1ee44552d0c129591ab0e5f7
