
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-bluedark-color: #1487FD;
    --primary-bluelight-color: #42A0FF;
    --primary-yellow-color:#FFBB00;
    --primary-lightgrey-color:#8A8A8A;
    --primary-darkgrey-color:#333333;
    --primary-black-color:#111010;
}

  
html, body {
    font-family: 'Roboto', serif;
    line-height: 1.5;
  }
  
.container {
    width: 100%;
    margin: auto;
  }
 
  .btn {
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    
  }



/* NAVBAR */


.navbar {
     padding: .5rem 1rem;
     background-color: var(--primary-bluelight-color);
     
  }
  .text-white{
    color: white;
  }
  .navbar .container, .navbar .header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
   .collapse:not(.show) {
    display: none;
  } 

  
  
  /* .navbar-brand {
    height: 3rem;
  } */
  .navbar-nav a{
      color: white;
  }
  .logo-dot{
      color: var(--primary-yellow-color);
  }
  .navbar-nav a:focus , 
  .navbar-nav a:hover{
    
   color: var(--primary-yellow-color) ;

  }
  .navbar-toggler {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.8rem;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  .btn-getTheApp{
      background-color: var(--primary-yellow-color);
      color: white;
  }
  .navbar .header{
      margin: 1rem 0.6rem;
      justify-content: center;
      align-items: center;

  }
  
  .fa-play-circle{
      position: relative;
      background-color: wheat;
      color: var(--primary-yellow-color);
      border-radius: 50px;
      z-index: 2;
  }

  /*  ANIMATION_START - Fredrik */
  .spinner-container {
    position: relative;
    right: 11.5px;
    bottom: 45px;
    z-index: 1;
  }
  
  .circle {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: 2px solid var(--primary-yellow-color);
    position: absolute;

  }
  
  .animate {
    animation-name: ripple;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;
  }
  #c1 {
    animation-delay: 0s;
  }
  #c2 {
    animation-delay: 1s;
  }
  #c3 {
    animation-delay: 2s;
  }
  
  
  @keyframes ripple {
    from {
      transform: scale(0);
      opacity: 1;
    }
    to{
      transform: scale(1);
      opacity: 0;
    }
  }
  /* ANIMATION_END - Fredrik */
 

  .header .heard-card{
      color: white;
      width:40%;

  }
  .header svg{
    display: none;
  }
  .btn-downloadnow{
    background-color: var(--primary-bluelight-color);
    color: white;
    border:1px solid white;
}

/* Features */ 
#features p {
  color: var(--primary-lightgrey-color);
}
#features h4, h1 {
  font-weight: 750;
}
.features-main {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.features-grid {
  display: inline-grid;
  grid-template-columns: auto auto;
  margin-top: 3rem;
  grid-gap: 30px 70px;
}
.features-top-sign {
  background-color: rgb(255, 187, 0, 0.2);
  padding: .5rem 1rem;
  border-radius: 7px;
}
.features-sign {
  background-color: rgb(255, 187, 0, 0.2);
  padding: 1rem 1rem;
  border-radius: 8px;
}
.features-text {
  color: var(--primary-yellow-color);
}
 





/* Section - Carousel - FREDRIK*/


.container-carousel{
  max-width: 100%;
  padding-top: 3rem;
  padding-bottom: 5rem;
  margin: auto;
}


#text-carousel h1{
  text-align: center;
  font-weight:bolder;
  font-size: 30px;
}
#text-carousel p{
  color: #8A8A8A;
  text-align: center;
  font-size: 15px;


}
/* Swiper */


 .swiper {
  width: 100%;
  height: 100%;

} 



.swiper-slide {
  background-position: center;
  text-align: center;
  width: 80%;
  height: 100%;
  padding: 45px 30px !important;
}

.swiper-slide img {
  display: block;
  align-items: center;
  justify-content: center;

  max-height: 350px;
 /*  max-width: 100px; */
  transition: transform 100ms ease;
}
.active-slide img {
  transform: scale(1.2);
/*   text-align: center;
  justify-content: center; */
}
/* Swiper_END--Fredrik--*/




.stats{
  display: block;
  width: 80%;
  padding-bottom: 2rem;
  margin: auto;

  background-image: url('img/carousel/Layer\ 815.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}


.text-stats{
  
  justify-content: space-between;
  /* justify-content: center; */
  align-items: center;
}

.text-stats h1{
  text-align: center;
  font-weight:bolder;
  font-size: 30px;
}


.text-stats p{
  color: #8A8A8A;
  text-align: center;
  
  
  font-size: 15px;
}

/* .bg-img{
  position:absolute;
  z-index: -1;
  
  border: 1px solid black;
} */
.grid-container{
  display: grid;
  
  grid-template-columns: 100px  100px  100px  100px;
  grid-gap: 10%;
  align-items: center;
  justify-content: center;
 
}

.grid-container h1{
  display: grid;
  margin: auto;
  font-size: 30px;
  font-weight: bold;
  color:#3096FE ;
}

.grid-container p{
  font-size: 20px;
  text-align: center;
  color: #333333;

}


/* Carousel -end - Fredrik */






/* FOOTER - FREDRIK */
#footer{
  position: relative;
  background-image: url('img/footer/Rectangle\ 1915.png');
  background-size: cover;
  height: 250px;

}
#footer h1{

  color: #FFF;
  font-weight: bolder;
  font-size: 41px;
  display: flex;
 padding-top:  2.5rem;
  align-items: center;
  justify-content: center;
}

#footer span{
  color: var(--primary-yellow-color);
}
.foot-bg{
  position: absolute;

  top: 0%;
}
.foot-bg img{
  background-position: center center;
  /* overflow:hidden; */
  width: 100vw;

  border-image-repeat: no-repeat;

}


.footer-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px ;
  list-style: none;
}
.footer-nav a{
  color: white;
  margin: 0 15px; 
}


#footer .social-media{

  /* width: 100%;  */
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  color: #fff;
  
}
#footer .social-media i{
  display: inline-block;
  text-align: center;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background-color: rgba(224, 255, 255, 0.185);
  margin: 10px;
  line-height: 1.9em;
  
}
/* FOOTER_END--Fredrik */



  @media (min-width: 720px) {
    .container{
        width: 720%;
    }

  }
  
  @media (min-width: 905px) {
    .container {
      max-width: 960px;
    }
    .navbar-toggler {
        display: none;
      }
      .collapse:not(.show) {
        
        display: block;
      }
      .navbar-nav {
        flex-direction: row;
         padding: 0.2rem 0.2rem;
         margin: 0 0.6rem;
      }
      a {
        padding: 0 .5rem;
      }
      .header svg{
        display: block;
      }
      .btn {
        width: auto;
      }
  }
 
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
